<h1>Register</h1>
<form action="/home/register" method="post">
    <table>
        <tr>
            <td>UserName</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="confirmPassword" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="tel" name="phoneNumber" /></td>
        </tr>
        <tr>
            <td>City Name</td>
            <td><input type="text" name="cityName" /></td>
        </tr>
        <tr>
            <td>Job Begin Date</td>
            <td><input type="date" name="jobBeginDate" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>